<% flash.now[:error] = "#{l("label_cas_server")} #{l("activerecord.errors.messages.blank")}" if @settings['cas_server'].blank? %>

<p>
  <label><%= l(:label_cas_enabled) %></label>
  <%= check_box_tag 'settings[enabled]', true, @settings['enabled'] %>
</p>
<p>
  <label><%= l(:label_cas_server) %><span class="required"> *</span></label>
  <%= text_field_tag 'settings[cas_server]', @settings['cas_server'], :size => 50 %>
  <br />
  <em><%= l(:label_example) %>: https://cas.example.com</em>
</p>
<p>
  <label><%= l(:label_cas_service_validate_url) %></label>
  <%= text_field_tag 'settings[cas_service_validate_url]', @settings['cas_service_validate_url'], :size => 50 %>
  <br />
  <em><%= l(:label_example) %>: https://cas.example.net/serviceValidate</em>
</p>
<p>
  <label><%= l(:label_login_page_text) %></label>
  <%= text_field_tag 'settings[label_login_with_cas]', @settings['label_login_with_cas'], :size => 50 %>
</p>
<p>
  <label><%= l(:label_replace_redmine_login) %></label>
  <%= check_box_tag 'settings[replace_redmine_login]', true, @settings['replace_redmine_login'] %>
</p>
