<p>
  <label><%= l(:label_saml_enabled) %></label>
  <%= check_box_tag 'settings[enabled]', true, @settings['enabled'] %>
</p>
<p>
  <label><%= l(:label_login_page_text) %></label>
  <%= text_field_tag 'settings[label_login_with_saml]', @settings['label_login_with_saml'], :size => 50 %>
</p>
<p>
  <label><%= l(:label_replace_redmine_login) %></label>
  <%= check_box_tag 'settings[replace_redmine_login]', true, @settings['replace_redmine_login'] %>
</p>
<p>
  <label><%= l(:label_onthefly_creation) %></label>
  <%= check_box_tag 'settings[onthefly_creation]', true, @settings['onthefly_creation'] %>
</p>
